.list-interactive {
    justify-content: space-between!important;
}

.list-interactive__search-panel {
    width: 70%;
    height: 2rem;
    padding: 7px;

    outline: none;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;

    color: #ffc107;
    font-size: 18px;
    font-weight: 100;
    font-family: system-ui, cursive;
}

.list-interactive__search-panel::placeholder {
    color: #ffc107;
    opacity: 50%;
}

.list-interactive__filter-buttons {
    width: 30%;
    justify-content: flex-end!important;
}
