.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    align-items: center;
    text-decoration: none;

    margin: 0!important;
    padding-left: 10px;
    transition: all 1s;
    font-size: 21px;
}

.list-item.done {
    text-decoration: solid line-through #673ab7 5px!important;
}

.list-item.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.list-item__name {
    flex-grow: 100;

    max-width: 75%;

    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #ffc107;
    font-weight: normal;
}

.list-item.important .list-item__name{
    color: #ff5700;
    font-weight: bold;
}

.btn-list-item {
    flex-grow: 1;

    margin: 0 0 0 auto!important;
    padding: 10px;
}

.btn-list-item > .icon {
    width: 30px;
    height: 30px;
    /*transform: scale(2.5);*/
}

.btn-list-item.btn-trash {
    background: var(--dark-red);
}

.btn-list-item.btn-important {
    background: var(--dark-green);
}

.btn-list-item.btn-important:hover,
.btn-list-item.btn-trash:hover {
    filter: brightness(1.3);
}
