.list-info {
    justify-content: space-between!important;
}

.list-info__title {
    font-size: 38px;
    color: #fff;
    text-shadow: 0 0 7px #673ab7;
}

.list-info__todos-count, .list-info__title {
    margin: 0!important;
}

.list-info__todos-count {
    align-self: flex-end;

    font-size: 21px;
    color: #fff;
    text-shadow: 0 0 7px #673ab7;
}