.list-content {
    margin: 0!important;
    border-radius: 1rem;
}

.list-animate-background {
    width: 100%;
    padding: 5px 10px;
    border: 2px dashed black;
    border-radius: 0.5rem;
    max-height: 600px;
}

.list-content__group {
    width: inherit;
    /*background-image: url("../../images/gif/bubbles.gif");*/
    background-blend-mode: soft-light;
    border-radius: 0.5rem;
}

@media (max-width: 425px) {
    .list-animate-background {
        overflow-y: scroll;
        max-height: 500px;
    }
}
