.list-interactive__filter-buttons .btn {
    padding: 10px 5px;

    color: #000000;
    background: #ffffff;
    font-size: 16px;

}

.list-interactive__filter-buttons .btn:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.list-interactive__filter-buttons .btn:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.list-interactive__filter-buttons .btn.btn-active,
.list-interactive__filter-buttons .btn.btn-active:hover {
    color: #ffffff;
    background: #3e3ec3;
}

.list-interactive__filter-buttons .btn:hover {
    color: #ffffff;
    background: rgba(62, 62, 195, 0.5);
}
