@font-face {
    font-family: "Georama";
    src: url("../fonts/Georama-VariableFont_wdth,wght.ttf") format("opentype"),
    url("../fonts/Georama-Italic-VariableFont_wdth,wght.ttf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Georama', monospace;
    font-weight: normal;

    /* ### VARIABLES SECTION ### */
    --dark-red: #7b0000;
    --light-red: #9B0000;
    --dark-green: #166d00;
    --light-green: #319B00;
    --dark-grey: #494949;
    --light-grey: #818181;
    /* ### VARIABLES SECTION ### */
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #e91e63, #00bcd4);
}

#root {
    padding: 10px;
    margin: 0 auto;

    max-width: 500px;
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#root * {
    margin: 10px 0;
}

#root section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn, .element-interact {
    border: none;
    background: rgba(165, 165, 165, 0.5);
    cursor: pointer;
    transition: all .4s;
}

.btn:hover, .element-interact:hover {
    border: none;
    background: rgba(195, 195, 195, 0);
}
