.list-item-add-form {
    display: flex;
    justify-content: space-between;
}

.list-item-add-form__btn {
    background: #1eaad9;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 38px;
    font-weight: normal;
    text-shadow: 0 0 7px #673ab7;
    width: 20%;
}

.list-item-add-form__btn:hover {
    background: #178fb8;
}

.list-item-add-form__input {
    width: 70%;
    height: 2rem;
    padding: 7px;
    outline: none;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    color: #ffc107;
    font-size: 18px;
    font-weight: 100;
    font-family: system-ui, cursive;
}